/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body * {
	font-family: 'Helvetica Neue', sans-serif;
}

body{
	background-color: #fff;
}
a {
	text-decoration: none;
	color: inherit;
	font-weight: inherit;
}

.ui-page-theme-a a {
	font-weight: inherit;
}

h1 {
	margin: 16px 0;
}
.nav {
	height: 50px;
	background-color: #fff;
	border: none;
}

.ui-btn {
	border: none;
	margin: 0;
	padding: 0;
	background-color: transparent !important;
	background-repeat: no-repeat !important;
}

.ui-focus {
	 -moz-box-shadow: none !important;
	 -webkit-box-shadow: none !important;
	 box-shadow: none !important;
}

.actions {
	display: -webkit-flex;
	height: 56px;
}

.leftback-btn {
	background-image: url('../images/left-button.png');
	background-repeat: no-repeat;
	background-size: 21px 16px;
	background-color: transparent;
	width: 21px;
	height: 16px;
}

.rightback-btn {
	background-image: url('../images/right-button.png');
	background-repeat: no-repeat;
	background-size: 21px 16px;
	background-color: transparent;
	width: 21px;
	height: 16px;
}

.crossback-btn {
	background-image: url('../images/cross-button.png');
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-color: transparent;
	width: 16px;
	height: 16px;
}

.actions a {
	flex-grow: 1;
	-webkit-flex-grow: 1;
	border: none;
	background: transparent;
	border-radius: 0;
	padding: 0;
	position: relative;
}

.helper {
	background-color: #4579b4;
	position: absolute;
	display: none;
}

.helper .message {
	padding: 20px 0 20px 15px;
	display: inline-block;
	width: 75%;
}

.helper .message p {
	text-shadow: none;
	color: #fff;
	font-size: 12px;
	font-weight: 100;
}

.helper .close-btn {
	display: inline-block;
	float: right;
	margin-right: 15px;
	margin-top: 20px;
	cursor: pointer;
}

.helper .pointer {
	position: absolute;
	display: block;
	height: 55px;
	width: 60px;
	background-image: url('../images/helper-pointer.png');
	background-size: 60px 55px;
	background-repeat: no-repeat;
}

/*.currency-symbol.usd::after, .currency-symbol.mxn::after {
	content: '$';
}

.currency-symbol.krw::after {
	content: '₩';
}

.currency-symbol.btc::after {
	content: 'B';
}

.currency-symbol.eur::before {
	content: '€';
}

.currency-symbol.cny::before, .currency-symbol.jpy::before {
	content: '¥';
}

.currency-symbol.gbp::before {
	content: '￡';
}*/

/*span.pay-currency.usd::before, span.pay-currency.mxn::before {
	content: '$';
}

span.pay-currency.krw::before {
	content: '₩';
}

span.pay-currency.btc::before {
	content: 'B';
}

span.pay-currency.eur::before {
	content: '€';
}

span.pay-currency.jpy::before, span.pay-currency.cny::before {
	content: '¥';
}

span.pay-currency.gbp::before {
	content: '￡';
}*/

/* Start */

#start {
	background-color: #fff;
	background-repeat: no-repeat;
	background-image: url('../images/aire-logo.png');
	background-size: 129px 44.5px;
	background-position: 50% 50%;
}

/*aire pay*/
#aire-pay {
	background-color: #fff;
}

#aire-pay-nav {
	background-color: #363636;
	height: 43px;
	color: #fff;
	border: none;
	text-shadow: none;
}

#nav-profile {
	width: 23px;
	height: 20px;
	background-image: url('../images/top-nav-profile.png');
	background-size: 23px 20px;	
	display: inline-block;
	top: 12px;
	left: 20px;
	z-index: 10;
}

#nav-activity {
	width: 25px;
	height: 24px;
	background-image: url('../images/top-nav-activity.png');
	background-size: 25px 24px;
	display: inline-block;
	float: right;
	top: 10px;
	right: 20px;
}


#nav-cancel {
	width: 46px;
	height: 12px;
	background-image: url('../images/top-nav-cancel.png');
	background-repeat: no-repeat;
	background-size: 46px 12px;
	display: none;
	top: 13px;
	left: 20px;
	position: absolute;
}

.focused #nav-cancel {
	display: block;
}

.focused #nav-profile, .focused #nav-activity {
	display: none;
}

div #aire-pay-balance {
	background-color: #33cc99;
	height: 115px;
	padding: 30px 0;
	text-align: center;
	color: #fff;
	border: none;
	text-shadow: none;
	width: 100%;
	transform: translate3d(0, 0, 0.1px);
	-webkit-transform: translate3d(0, 0, 0.1px);
	-webkit-transition: height 600ms cubic-bezier(0.23, 1, 0.32, 1);
}

.focused #aire-pay-balance {
	height: 10px;
	padding: 0;
	-webkit-transition: height 600ms cubic-bezier(0.23, 1, 0.32, 1),width 600ms cubic-bezier(0.23, 1, 0.32, 1);
	transition: height 600ms cubic-bezier(0.23, 1, 0.32, 1),width 600ms cubic-bezier(0.23, 1, 0.32, 1);
}


#remaining-balance {
	display: none;
	background-color: #fff;
}

.focused #remaining-balance {
	display: block;
}

#remaining-balance p {
	font-size: 12px;
	color: #33cc99;
	text-shadow: none;
	margin: 0;
	padding:5px 0 0 23px;
}


#remain-balance::before {
	margin:0 3px;
}

#remain-balance.usd::before, #remain-balance.mxn::before {
	content: '$';
}

#remain-balance.krw::before {
	content: '₩';
}

#remain-balance.btc::before {
	content: 'B';
}

#remain-balance.eur::before {
	content: '€';
}

#remain-balance.cny::before, #remain-balance::before {
	content: '¥';
}

#remain-balance.gbp::before {
	content: '￡';
}

#aire-pay-balance a{
	text-decoration: none;
	color: #fff;
	font-weight: 200;
}
#aire-pay-balance ul {
	list-style: none;
	padding: 25px 0;
}

#aire-pay-balance ul li {
	margin: 5px 0;
}

#aire-pay-balance ul li:first-child {
	font-size:20px;
}

#aire-pay-balance ul li:last-child {
	font-size:42px;
}

#current-balance::before {
	font-size: 28px;
	vertical-align: text-top;
	margin-right: 5px;
}


#aire-pay-balance #current-balance.usd::before, #aire-pay-balance #current-balance.mxn::before {
	content: '$';
}

#aire-pay-balance #current-balance.krw::before {
	content: '₩';
}

#aire-pay-balance #current-balance.btc::before {
	content: 'B';
}

#aire-pay-balance #current-balance.eur::before {
	content: '€';
}

#aire-pay-balance #current-balance.cny::before, #aire-pay-balance #current-balance.jpy::before {
	content: '¥';
}

#aire-pay-balance #current-balance.gbp::before {
	content: '￡';
}

/*pay-input*/

div #aire-pay-input {
	background-color: #fff;
	text-shadow: none;
	box-shadow: none;
	border: none;
	padding: 22px;
}


div #aire-pay-input input {
	border: none;
	background-color: transparent;
	border-radius: 0;
	height: 44px;
	width: 100%;
	line-height: 44px;
	font-size: 18px;
	font-weight: 300;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}


div #aire-pay-input input:focus {
	outline: none;
	border-bottom: 1px solid #2BC58F;
}

#aire-pay-input .friends-list {
	height: 0;
	overflow: hidden;
	transform: translate3d(0, 0, 0.1px);
	-webkit-transform: translate3d(0, 0, 0.1px);
	-webkit-transition: height 600ms cubic-bezier(0.23, 1, 0.32, 1);
}

.friends #aire-pay-input .friends-list {
	height: 130px;
}

#aire-pay-input .friends-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#aire-pay-input .friends-list ul li {
	margin: 10px 0;
	color: #666;
	font-weight: 200;
	font-size: 16px;
}

#aire-pay-input .friends-list ul li .photo {
	height: 28px;
	width: 28px;
	background-size: 28px 28px;
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	right: 0;
}

#aire-pay-input .friends-list ul li:nth-child(1) .photo {
	background-image: url('../images/friend-1.png');
}

#aire-pay-input .friends-list ul li:nth-child(2) .photo {
	background-image: url('../images/friend-2.png');
}

#aire-pay-input .friends-list ul li:nth-child(3) .photo {
	background-image: url('../images/friend-3.png');
}

#aire-pay-input .friends-list ul li:nth-child(4) .photo {
	background-image: url('../images/friend-4.png');
}

#aire-pay-input .row {
	position: relative;
	overflow: hidden;
}

 #aire-pay-input input[name="value"] {
	padding-left: 1em;
}

div #aire-pay-input label.pay-currency {
	position: absolute;
	top: 0;
	left: 0;
	height: 44px;
	line-height: 44px;
	color: #999;
}

div #aire-pay-input label.pay-currency.usd::after, div #aire-pay-input label.pay-currency.mxn::after {
	content: '$';
}

div #aire-pay-input label.pay-currency.krw::after {
	content: '₩';
}

div #aire-pay-input label.pay-currency.btc::after {
	content: 'B';
}

div #aire-pay-input label.pay-currency.eur::before {
	content: '€';
}

div #aire-pay-input label.pay-currency.cny::before, div #aire-pay-input label.pay-currency.jpy::before {
	content: '¥';
}

div #aire-pay-input label.pay-currency.gbp::before {
	content: '￡';
}

div #aire-pay-input #input-currency {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background: none;
	height: 44px;
	line-height: 44px;
	color: #999;
}

/* Aire pay*/

#aire-pay .actions {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	display: -webkit-flex;
	height: 56px;
	background: #ccc;
	color: #fff;
}

#aire-pay .actions.on {
	background-color: #33cc99;
}

#aire-pay .actions a{
	width: 49%;
	height: 31px;
	background: #ccc;
	color: #fff;
	font-size: 18px;
	text-shadow: none;
	box-shadow: none;
	margin: auto 0;
	padding-top: 8px;
	
}

#aire-pay .actions a:first-child {
	border-right:solid;
	border-width: 1px;
}

#aire-pay .helper {
	width: 220px;
	top: 60px;
}

#aire-pay .helper .pointer {
	top: -62px;
	left: 1px;
}

/* Pay Success Page*/

#pay-success {
	text-align: center;
	background-image: url('../images/pay-success-bg-2.png');
	background-size: cover;
	background-repeat: no-repeat;
	text-shadow: none;
	color: #fff;
	background-position: 50% 50%;
}

#pay-success .content {
	padding-top: 35px;
}
#pay-success .content ul {
	list-style: none;
	padding: 0;
	margin: 16px 0;
}

#pay-success .content ul li:last-child {
	font-size:23px;
	font-weight: 100;
	line-height: 32px;
}

#pay-success .content ul li:first-child {
	font-size:60px;
}

#pay-success .content ul li:first-child::before {
	font-size: 36px;
	vertical-align: text-top;
	margin-right: 5px;
}

#pay-success .content ul li:first-child.usd::before, #pay-success .content ul li:first-child.mxn::before {
	content: '$';
}

#pay-success .content ul li:first-child.krw::before {
	content: '₩';
}

#pay-success .content ul li:first-child.btc::before {
	content: 'B';
}

#pay-success .content ul li:first-child.jpy::before, #pay-success .content ul li:first-child.cny::before {
	content: '¥';
}

#pay-success .content ul li:first-child.eur::before {
	content: '€';
}

#pay-success .content ul li:first-child.gbp::before {
	content: '￡';
}

#pay-success .content .confirm-btn {
	background-image: url('../images/confirm-btn.png');
	background-size: 76px 76px;
	height: 76px;
	width: 76px;
	margin: 80px auto;
}

#pay-success .content p {
	font-weight: 100;
	font-size: 15px;
}

#pay-success .actions {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	display: -webkit-flex;
	height: 56px;
	background: #fff;
	color: #ccc;
}

#pay-success .actions a{
	width: 49%;
	height: 31px;
	background: #fff;
	color: #ccc;
	font-size: 18px;
	text-shadow: none;
	box-shadow: none;
	margin: auto 0;
	padding-top: 8px;
	
}

#pay-success .actions a:first-child {
	border-right:solid;
	border-width: 1px;
}

/* Profile Page*/

#profile {
	background-color: #fff;
	font-weight: 300;
}

#profile .nav {
	height: 40px;
	background-color: #fff;
	border: none;
}

#profile .nav a {
	margin-top: 10px;
	margin-left: 88%;
	
}

#profile a {
	font-weight: 300;
}

#profile .identify {
	text-align: center;
}

#profile .identify .photo {
	background-image: url('../images/profile-2.png');
	height: 66px;
	width: 62px;
	background-size: 62px 66px;
	margin:0 auto;
}

#profile .identify p{
	font-size: 14px;
	color: #333333;

}
#profile .identify p:first-child{
	font-size: 17px;
	margin-bottom: 10px;
}

#profile .settings {
	padding: 0;
}

#profile .help-invite {
	border-top: solid;
	border-bottom: solid;
	border-width: 1px;
	border-color: #c9c9c9;
}
#profile .help-invite a {
	width: 49%;
	height: 31px;
	background: #fff;
	color: #333333;
	font-size: 18px;
	text-shadow: none;
	box-shadow: none;
	margin-top: 5px;
	padding-top: 8px;
	display: inline-block;
}

#profile .help-invite a:first-child {
	border-right: solid;
	border-width: 1px;
	border-color: #c9c9c9;
}

#profile .middle > div {
	height: 20px;
	margin: 0 20px;
	padding: 15px 0;
	border-bottom: 1px solid #c9c9c9;
}

#profile .middle div a {
	text-align: left;
	font-size: 15px;
	color: #333;
}

#profile .middle span {
	text-align: left;
	font-size: 15px;
	color: #333;
	display: inline-block;
	font-weight: 300;
}

#profile .middle > div > a::after {
	content: '>';
	font-size: 20px;
	float: right;
}

.settings .currency #set-currency {
	position: absolute;
	right: 11px;
	border: none;
	background: none;
	height: 44px;
	line-height: 44px;
	color: #999;
	margin-top: -10px;
}

.settings .ePIN .toggle {
	width: 100px;
	display: inline-block;
	position: absolute;
	padding: 0;
	right: -36px;
	margin-top: -10px;
}

.settings .ePIN .custom-class {
	width: 44px;
	border-radius: 20px;
	border: 0;
}

.settings .ePIN .ui-flipswitch-on {
	background-color: #fff !important;
	box-shadow-color: #33cc99;
}

.ui-flipswitch.ui-flipswitch-active {
	background-color: #33cc99;
	padding-left: 17px;
	width: 27px !important;
}

#profile .actions {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	display: -webkit-flex;
	height: 56px;
	background: #fff;
	color: #33cc99;
}

#profile .actions a {
	color: #33cc99;
	font-size: 15px;
	padding-top: 20px;
	text-shadow: none;
	text-align: center;
	width: 100%;
}

#profile .deposit a{
	z-index: 10;
}

#profile .helper {
	width: 220px;
	right: 0;
	top: 280px;
}

#profile .helper .pointer {
	right: 0;
	top: -55px;
}


/* Activity Page*/

#activity {
	background-color: #fff;
}
#activity .nav{
	border-bottom: 1px solid #cfcfcf;
	background-color: #fff;
}

#activity a {
	top: 18px;
	left: 18px;
}

#activity .nav span {
	text-align: center;
	display: block;
	text-shadow: none;
	padding-top: 16px;
}

.content {
	padding:0 16px;
}

.content .transactions {
	height: 60px;
	margin: 16px 0;
}

.content .transactions .photo {
	background-size: 48px 48px;
	width: 48px;
	height: 48px;
	position: absolute;
	
}

.content .transactions:nth-child(1) .photo {
	background-image: url('../images/friend-1.png');
}

.content .transactions:nth-child(2) .photo {
	background-image: url('../images/profile-2.png');
}

.content .transactions:nth-child(3) .photo {
	background-image: url('../images/friend-2.png');
}

.content .transactions:nth-child(4) .photo {
	background-image: url('../images/friend-3.png');
}

.content .transactions:nth-child(5) .photo {
	background-image: url('../images/profile-2.png');
}

.content .transactions:nth-child(6) .photo {
	background-image: url('../images/profile-2.png');
}

.content .container {
	margin-left: 60px;
	border-bottom: 1px solid #cfcfcf;
	padding-bottom: 5px;
}

.content .container ul{
	list-style: none;
	padding: 0;
	color: #333;
	margin: 5px 0;
}

.content .container ul li {
	margin: 10px 0;
}

.content .container ul li div {
	display: inline-block;
}

.content .container .email {
	font-size: 14px;
	color: #555;
}

.content .container .amount {
	float: right;
	text-shadow: none;
}

.content .container .amount {
	color: #1ec5c0;
}

.content .container .amount.minus {
	color: #f7755c;
}

.content .container .amount.usd span::after {
	content: '$';
	margin-right: 5px;
}

.content .container .amount.minus span::before {
	content: '-';
	margin-right: 5px;
}

/*.content .container .amount.krw {
	color: #96e4ca;
}*/

.content .container .amount.krw span::after {
	content: '₩';
	margin-right: 5px;
}

/*.content .container .amount.btc {
	color: #f99a87;
}*/

.content .container .amount.btc span::after {
	content: 'B';
	margin-right: 5px;
}

.content .container .text {
	font-size: 12px;
	color: #777;
}

.content .container .date {
	font-size: 12px;
	color: #777;
	float: right;
	margin-top: 6px;
}
.content .one .photo {
	
}

/* Balance Page*/

#balance {
	background-image: url('../images/convert-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
}
#balance .nav {
	background-color: #000;
	height: 50px;
}

#balance .nav a {
	margin:12px 0 0 10px;
}

#balance .nav .message {
	position: absolute;
	text-shadow: none;
	color: #fff;
	font-size: 10px;
	text-align: center;
	left: 35%;
	top: 10px;
}

#balance .nav .message p {
	margin: 5px 0;	
}

#balance .nav .message p:first-child {
	color: #666;
}

#balance .nav .message p:last-child {
	font-size: 15px;
	font-weight: 400;
}

#balance .content {
	padding: 0 20px;
}

#balance .property {
	text-shadow: none;
	color: #fff;
	font-weight: 200;
	border-bottom: 1px solid #333;
	padding: 3px 0;
}

#balance .property p {
	margin: 5px 0;
	color: #777;
	font-size: 14px;
	padding-left: 3px;
	padding-bottom: 5px;
	margin: 5px 0;
}

#balance .property .image {
	height: 33px;
	width: 33px;
	background-size: 33px 33px;
	background-repeat: no-repeat;
}

.eur .image {
	background-image: url('../images/coin_euro.png');
}

.usd .image {
	background-image: url('../images/coin_dollar.png');
}

.krw .image {
	background-image: url('../images/coin_won.png');
}

.btc .image {
	background-image: url('../images/coin_bitcoin.png');
}

.jpy .image {
	background-image: url('../images/coin_yen.png');
}

.gbp .image {
	background-image: url('../images/coin_pound.png');
}

#balance .property-container div {
	position: relative;
	display: inline-block;
}

#balance .property-container .amount {
	font-size: 25px;
	left: 5px;
	top: -5px;
	color: #fff;
	font-weight: 300;
}

#balance .property-container .balance-bar-container {
	display: block;
	height:3px;
	margin-left: 40px;
	top: -3px;
	width: 80%;
}

#balance .property-container .balance-bar {
	background-color: #1c9b72;
	height: 3px;
	position: absolute;
}

#balance .eur .property-container .balance-bar {
	width: 0%;
}

#balance .usd .property-container .balance-bar {
	width: 40%;
}

#balance .btc .property-container .balance-bar {
	width: 100%;
}

#balance .property-container .click-btn {
	position: absolute;
	right: 20px;
	font-size: 23px;
	color: #888;
	font-weight: 200;
}

#balance .property.empty .amount {
	color: #777;
}

#balance .property.empty .balance-bar {
	display: none;
}

#balance .property.empty .image {
	opacity: 0.4;
}

#balance .property.empty .click-btn {
	display: none;
}

#balance .property.gbp {
	border: 0;
}

#balance .helper {
	bottom: 0;
}

#balance .helper .pointer {
	right: 0;
	top: 220px;
	position: fixed;
}
/* for tap event */
#balance .content .preoperty.btc .property-container {
	z-index: 10;
}


/*#balance .actions {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	display: -webkit-flex;
	height: 56px;
	background: #dcf4e9;
	color: #fff;
	border: 0;
}

#balance .actions a{
	width: 49%;
	height: 31px;
	background: #dcf4e9;
	color: #33cc99;
	font-size: 18px;
	text-shadow: none;
	box-shadow: none;
	margin: auto 0;
	padding-top: 8px;
	font-weight: 100;
}

#balance .actions a:first-child {
	border-right:solid;
	border-width: 1px;
}*/

/* Convert Page */

#convert {
	background-color: #fff;
}

#convert .nav {
	background-color: #fff;
	height: 50px;
}

#convert .nav a {
	top: 18px;
	left: 18px;
}

#convert .nav .cancel-btn {
	width: 55px;
	height: 20px;
	display: none;
	top: 19px;
	left: 20px;
	position: absolute;
	text-shadow: none;
	font-size: 15px;
	font-weight: 500;
}

.focused#convert .nav a {
	display: none;
}

.focused#convert .nav .cancel-btn {
	display: block;
}



#convert .nav h1 {
	font-weight: 400;
	font-size: 18px;
}

#convert .content {
	padding: 0;
}

#convert .current-balance {
	padding-top: 25px;
	height: 125px;
	background-color: #efefef;
	text-align: center;
	width: 100%;
	transform: translate3d(0, 0, 0.1px);
	-webkit-transform: translate3d(0, 0, 0.1px);
	-webkit-transition: height 600ms cubic-bezier(0.23, 1, 0.32, 1),width 600ms cubic-bezier(0.23, 1, 0.32, 1);
	transition: height 600ms cubic-bezier(0.23, 1, 0.32, 1),width 600ms cubic-bezier(0.23, 1, 0.32, 1);
}

.focused#convert .current-balance {
	height: 10px;
	padding: 0;
	overflow: hidden;
}

#convert .current-balance ul {
	list-style: none;
	padding: 0;
	color: #cbcbcb;
	padding: 20px 0;
}

#convert .current-balance ul li:first-child {
	font-size: 18px;
	font-weight: 300;
}

#convert .current-balance ul li:last-child {
	font-size: 42px;
	font-weight: 500;
}

#convert .current-balance ul li:last-child::before {
	font-size: 28px;
	vertical-align: text-top;
	margin-right: 5px;
}

#convert .current-balance ul li:last-child.usd::before, #convert .current-balance ul li:last-child.mxn::before {
	content: '$';
}

#convert .current-balance ul li:last-child.krw::before {
	content: '₩';
}

#convert .current-balance ul li:last-child.btc::before {
	content: 'B';
}

#convert .current-balance ul li:last-child.eur::before {
	content: '€';
}

#convert .current-balance ul li:last-child.cny::before, #convert .current-balance ul li:last-child.jpy::before {
	content: '¥';
}

#convert .current-balance ul li:last-child.gbp::before {
	content: '￡';
}

#convert-remaining-balance {
	display: none;
	background-color: #fff;
}

.focused #convert-remaining-balance {
	display: block;
}

#convert-remaining-balance p {
	font-size: 12px;
	color: #3ecec9;
	text-shadow: none;
	margin: 0;
	padding:5px 0 0 23px;
}

#convert .convert-input {
	background-color: #fff;
	text-shadow: none;
	box-shadow: none;
	border: none;
	padding: 10px 20px;
	color: #3ecec9;
	margin-top: 10px;
}

#convert .convert-input input {
	border: none;
	background-color: transparent;
	border-radius: 0;
	height: 44px;
	width: 100%;
	line-height: 44px;
	font-size: 18px;
	font-weight: 300;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

#convert .convert-input input:focus {
	outline: none;
	border-bottom: 1px solid #3ecec9;
}

#convert .convert-input .row {
	position: relative;
	overflow: hidden;
}

#convert .convert-input input {
	padding-left: 1em;
	color: #3ecec9;
}

#convert .convert-input input + label {
	position: absolute;
	top: 0;
	left: 0;
	height: 44px;
	line-height: 44px;
}

#convert .convert-input label.eur::after {
	content: '€';
}

#convert .convert-input label.usd::after, #convert .convert-input label.mxn::after {
	content: '$';
}

#convert .convert-input label.krw::after {
	content: '₩';
}

#convert .convert-input label.jpy::after, #convert .convert-input label.cny::after {
	content: '¥';
}

#convert .convert-input label.gbp::after {
	content: '￡';
}

#convert .convert-input label.btc::after {
	content: 'B';
}

#convert .convert-input select {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background: none;
	height: 44px;
	line-height: 44px;
	color: #3ecec9;
}

#convert .convert-input select:focus {
	outline: none;
}

/*#convert .convert-info .icon {
	position: relative;
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url('../images/info-icon.png');
	background-size: 16px 16px;
	background-repeat: no-repeat;
	top: 4px;
	left: 4px;
}*/



#convert .text {
	padding: 0 10px;
}

#convert .text p {
	text-align: center;
	color: #b5b5b5;
	text-shadow: none;
	font-size: 11px;
	font-weight: 200;
}

#convert .convert-info {
	margin:0 auto;
	margin-bottom: 15px;
	width: 280px;
	height: 50px;
}

#convert .convert-info p {
	text-align: center;
	color: #7a7a7a;
	text-shadow: none;
	font-size: 13px;
	font-weight: 100;
	margin-top: 0;
	line-height: 30px;
}

#convert #popupDialog a {
	color: #02b7f3;
	width: 45%;
	margin:0 auto;
}

#convert .convert-btn {
	margin-top: 25px;
}
#convert .convert-btn a {
	display: block;
	width: 260px;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	text-shadow: none;
	background-color: #3ecec9;
	color: #fff;
	font-weight: 400;
	padding-top: 22px;
	border-radius: 35px;
}

#convert .helper {
	width: 100%;
	bottom: 0;
}

#convert .helper.second-step {
	display: none;
}

#convert .helper.first-step .pointer {
	position: fixed;	
	right: 10%;
	top: 265px;
}

#convert .helper.second-step .pointer {
	left: 41%;
	top: 440px;
	position: fixed;
}

.focused#convert .helper.second-step .pointer {
	top: 320px;
}

.focused#convert .helper.first-step .pointer {
	top: 140px;
}

#convert .convert-input select {
	z-index: 10;
}

#convert .convert-btn {
	z-index: 10;
}

/* Convert Success Page*/

#convert-success {
	text-align: center;
	background-image: url('../images/convert-success-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	text-shadow: none;
	color: #fff;
	background-position: 50% 50%;
}

#convert-success .content {
	padding-top: 35px;
}
#convert-success .content ul {
	list-style: none;
	padding: 0;
	margin-top: 30px;
}

#convert-success .content ul li{
	font-size: 23px;
	font-weight: 100;
	margin: 20px auto;
}

#convert-success .content ul li:last-child {
	font-size: 34px;
	font-weight: 400;
}

#convert-success .content ul li:first-child {
	font-size: 34px;
	font-weight: 400;
}

#convert-success .content ul li:first-child::before {
	font-size: 26px;
	vertical-align: text-top;
	margin-right: 5px;
}

#convert-success .content ul li:last-child::before {
	font-size: 26px;
	vertical-align: text-top;
	margin-right: 5px;
}

#convert-success .content ul li.eur::before {
	content: '€';
}

#convert-success .content ul li.usd::before, #convert-success .content ul li.mxn::before {
	content: '$';
}

#convert-success .content ul li.krw::before {
	content: '₩';
}

#convert-success .content ul li.jpy::before, #convert-success .content ul li.cny::before {
	content: '¥';
}

#convert-success .content ul li.gbp::before {
	content: '￡';
}

#convert-success .content ul li.btc::before {
	content: 'B';
}

#convert-success .content p {
	font-weight: 100;
	font-size: 15px;
}

#convert-success .actions {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	display: -webkit-flex;
	height: 56px;
	background: #fff;
	color: #ccc;
}

#convert-success .actions a{
	width: 49%;
	height: 31px;
	background: #fff;
	color: #ccc;
	font-size: 18px;
	text-shadow: none;
	box-shadow: none;
	margin: auto 0;
	padding-top: 8px;
	
}

#convert-success .actions a:first-child {
	border-right:solid;
	border-width: 1px;
}

#withdraw {
	background-color: #fff;
}

#withdraw .nav {
	background-color: #fff;
}

#withdraw .nav a {
	left: 15px;
	top: 15px;
}

#withdraw p {
	margin: 15px 0;
}

#withdraw .content {

}

#withdraw .input {
	position: relative;
	overflow: hidden;
}

#withdraw .input input {
	border: none;
	background-color: transparent;
	border-radius: 0;
	height: 38px;
	width: 100%;
	line-height: 38px;
	font-size: 18px;
	font-weight: 300;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	color: #33cc99;
	padding-left: 15px;
}

#withdraw .input input:focus {
	outline: none;
	border-bottom: 1px solid #33cc99;
}

#withdraw .input input[name="value"] + label {
	position: absolute;
	top: 0;
	left: 0;
	height: 38px;
	line-height: 38px;
	color: #33cc99;
}

#withdraw .input input[name="value"]+ label::after {
	content: 'B';
}

#withdraw .input input.address {
	font-size: 12px;
	padding-left: 5px;
}

#withdraw .input input[name="address"].address + label {
	position: absolute;
	top: 48px;
	right: 0;
	height: 30px;
	width: 30px;
	background-image: url('../images/qrcode.png');
	background-size: 30px 30px;
	background-repeat: no-repeat;
}

#withdraw .content .rate {
	text-align: center;
	color: #999;
	text-shadow: none;
	font-size: 13px;
	font-weight: 300;
}

#withdraw .help {
	background-color: #f7f7f7;
	text-align: left;
	color: #cbcbcb;
	text-shadow: none;
	position: absolute;
	left: 0;
	bottom: 56px;
	width: 100%;
	font-weight: 200;
	height: 140px;
}

#withdraw .help p {
	margin: 22px 0;
	padding-left: 16px;
}

#withdraw .actions {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	display: -webkit-flex;
	height: 56px;
	background: #dcf4e9;
	color: #fff;
	border: 0;
}

#withdraw .actions a{
	width: 100%;
	height: 31px;
	background: #dcf4e9;
	color: #33cc99;
	font-size: 18px;
	text-shadow: none;
	box-shadow: none;
	margin: auto 0;
	padding-top: 8px;
	font-weight: 200;
}

/*Deposit Page*/

#deposit {
	background-color: #fff;
}

#deposit p {
	margin: 15px 0;
}
#deposit .nav {
	border-bottom: 1px solid #cfcfcf;
	background-color: #fff;
}

#deposit .nav a {
	left: 15px;
	top: 15px;
}

#deposit .nav h1 {
	text-shadow: none;
	padding-top: 15px;
}

#deposit .address {
	text-align: center;
	text-shadow: none;
}

#deposit .address p:first-child {
	font-size: 15px;
	color: #a1a1a1;
}

#deposit .address p:last-child {
	font-size: 13px;
	color: #adadad;
}
#deposit .copy-address a {
	width: 150px;
	height: 30px;
	display: block;
	color: #fff;
	background-color: #1ec68e;
	margin: 0 auto;
	text-shadow: none;
	text-align: center;
	padding-top: 10px;
	font-weight: 200;
}

#deposit .qrcode {
	background-image: url('../images/qrcode-big.png');
	background-repeat: no-repeat;
	background-size: 164px 164px;
	background-position: center;
	width: 100%;
	height: 164px;
}

#deposit .content .rate {
	text-align: center;
	color: #999;
	text-shadow: none;
	font-size: 13px;
	font-weight: 300;
}

#deposit .help {
	background-color: #f7f7f7;
	text-align: left;
	color: #cbcbcb;
	text-shadow: none;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	font-weight: 200;
	height: 140px;
	border: 0;
}

#deposit .help p {
	margin: 22px 0;
	padding-left: 16px;
}


/* Info Pages*/

.info .container {
	background-color: #1ec68e;
	background-repeat: no-repeat;
	height: 360px;
}

.info .container ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 40px;
	padding-top: 10px;
}

.info .container ul li {
	display: inline-block;
	height: 6px;
	width: 6px;
	background-color: #333;
	border-radius: 3px;
	opacity: 0.3;
}

.info .container ul li.on{
	opacity: 1;
}

.info .text {
	text-align: center;
	padding-top: 30px;
}

.info .text p {
	line-height: 20px;
}

#info-1 .container {
	background-image: url('../images/walkthrough-1.png');
	background-size: 194px 303px;
	background-position: 50% 105%;
}

#info-2 .container {
	background-image: url('../images/walkthrough-2.png');
	background-size: 194px 303px;
	background-position: 50% 105%;
}

#info-3 .container {
	background-image: url('../images/walkthrough-3.png');
	background-size: 191px 300px;
	background-position: 50% 100%;
}

#info-4 .container {
	background-image: url('../images/walkthrough-4.png');
	background-size: 134px 51px;
	background-position: 50% 55%;
}

#info-4 .text {
	padding-top:0;
}

#info-4 .text p:first-child {
	color: #999;
	font-size: 11px;
	text-shadow: none;
	margin: 11px 0;
}

#info-4 .text .info-btn {
	display: block;
	text-shadow: none;
	font-size: 14px;
	height: 30px;
	width: 270px;
	padding-top: 11px;
	text-align: center;
	margin: 10px auto;
	font-weight: 400;
	border-radius: 3px;
}

#info-4 .text .facebook-btn {
	background-color: #5b7fdf;
	color: #fff;
}

#info-4 .text .email-btn {
	background-color: #f3f3f3;
	color: #646464;
}

#info-4 .text p:last-child {
	font-size: 14px;
	color: #888;
	text-shadow: none;
	margin: 14px 0;
}

#friend-using-aire .header h1{
	text-align: center;
	font-size: 24px;
	color: #33cc99;
	text-shadow: none;
	font-weight: 300;
}

#friend-using-aire .friends-list {
	border: 0;
}

#friend-using-aire .friends-list .title {
	border-bottom: 1px solid #dedede;
}

#friend-using-aire .friends-list .title p {
	font-size: 15px;
	text-shadow: none;
	padding-left: 15px;
	color: #333;
	margin:20px 0 5px 0;
}

#friend-using-aire .friends-list {
	border: 0;
}

#friend-using-aire .friends-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
	border: 0;
	text-shadow: none;
	box-shadow: none
}

#friend-using-aire .friends-list ul li {
	padding-left: 15px;
	margin: 8px auto;
	border: 0;	
}

#friend-using-aire .friends-list ul li .photo{
	display: inline-block;
	height: 35px;
	width: 35px;
	background-size: 35px 35px;
	background-repeat: no-repeat;
}

#friend-using-aire .friends-list ul li:nth-child(1) .photo {
	background-image: url('../images/friend-1.png');	
}

#friend-using-aire .friends-list ul li:nth-child(2) .photo {
	background-image: url('../images/friend-2.png');	
}

#friend-using-aire .friends-list ul li:nth-child(3) .photo {
	background-image: url('../images/friend-3.png');	
}

#friend-using-aire .friends-list ul li:nth-child(4) .photo {
	background-image: url('../images/friend-4.png');	
}

#friend-using-aire .friends-list ul li:nth-child(5) .photo {
	background-image: url('../images/friend-1.png');	
}

#friend-using-aire .friends-list ul li:nth-child(6) .photo {
	background-image: url('../images/friend-2.png');	
}

#friend-using-aire .friends-list ul li:nth-child(7) .photo {
	background-image: url('../images/friend-4.png');	
}

#friend-using-aire .friends-list ul li:nth-child(8) .photo {
	background-image: url('../images/friend-1.png');	
}

#friend-using-aire .friends-list ul li:nth-child(9) .photo {
	background-image: url('../images/friend-3.png');	
}

#friend-using-aire .friends-list ul li .name{
	display: inline-block;
	padding-left: 10px;
	position: relative;
	top: -10px;
	color: #666;
	text-shadow: none;
	font-weight: 300;
	font-size: 15px;
}

#friend-using-aire .footer {
	width: 100%;
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 12px 0;
	background-color: #33cc99;
}

#friend-using-aire .footer p {
	margin: 5px auto;
	color: #fff;
	text-shadow: none;
	font-size: 24px;
	font-weight: 300;
}

#welcome .header h1 {
	text-align: center;
	text-shadow: none;
	color: #33cc99;
	font-weight: 300;
	font-size: 24px;
}

#welcome .profile {
	text-shadow: none;
	text-align: center;
}

#welcome .profile .photo {
	width: 101px;
	height: 101px;
	background-repeat: no-repeat;
	background-image: url('../images/profile-2.png');
	background-size: 101px 101px;
	margin:0 auto;
}

#welcome .profile .name {
	margin: 15px 0 25px;
}

#welcome .profile .name p {
	margin: 5px 0;
}

#welcome .profile .name p:first-child {
	font-size: 19px;
	color: #333;
}

#welcome .profile .name p:last-child {
	font-size: 11px;
	color: #999;
}

#welcome .settings {
	border-top: 1px solid #c9c9c9;
	padding: 10px 20px;
	color: #333;
}

#welcome .settings > div {
	border-bottom: 1px solid #c9c9c9;
	margin: 15px 0;
	padding-bottom: 10px;
}

.settings .currency #default-currency {
	position: absolute;
	right: 11px;
	border: none;
	background: none;
	height: 44px;
	line-height: 44px;
	color: #999;
	margin-top: 10px;
}

#welcome .settings .currency #default-currency {
	margin-top: -15px;
	float: right;
}

#welcome .settings .ePIN .toggle {
	float: right;
	position: inherit;
	margin-right: -55px;
	margin-top: -15px;
}

#welcome .footer {
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 12px 0;
	background-color: #33cc99;
}

#welcome .footer p {
	margin:5px auto;
	color: #fff;
	text-shadow: none;
	font-size: 24px;
	font-weight: 300;
}

#sign-in {
	background-color: #fff;
}

#sign-in .nav {
	background-color: #fff;
}

#sign-in .nav a {
	left: 15px;
	top: 15px;
	font-size: 20px;
}

#sign-in .content {
	padding-top: 10px;
}

#sign-in .content input {
	border: none;
	background-color: transparent;
	border-radius: 0;
	height: 38px;
	width: 100%;
	line-height: 38px;
	font-size: 16px;
	font-weight: 300;
	border: none;
	padding-left: 6px;
}

#sign-in .content input:focus {
	outline: none;	
}

#sign-in .content a {
	width: 280px;
	height: 36px;
	display: block;
	background-color: #33cc99;
	color: #fff;
	border: 0;
	text-shadow: none;
	text-align: center;
	margin: 25px 0 0;
	padding-top: 16px;
	font-size: 18px;
	font-weight: 400;
}

#sign-in .content p {
	margin-top: 15px;
	text-align: center;
	color: #999;
	font-size: 14px;
}

#forgot-pass {
	background-color: #fff;
}

#forgot-pass .nav {
	background-color: #fff;
}

#forgot-pass .nav a {
	left: 15px;
	top: 15px;
	font-size: 20px;
}

#forgot-pass .content {
	padding-top: 15px;
}

#forgot-pass .content input {
	border: none;
	background-color: transparent;
	border-radius: 0;
	height: 38px;
	width: 100%;
	line-height: 38px;
	font-size: 16px;
	font-weight: 300;
	border: none;
	padding-left: 6px;
}

#forgot-pass .content input:focus {
	outline: none;	
}

#forgot-pass .content a {
	width: 280px;
	height: 36px;
	display: block;
	background-color: #33cc99;
	color: #fff;
	border: 0;
	text-shadow: none;
	text-align: center;
	margin: 15px 0 0;
	padding-top: 16px;
	font-size: 18px;
	font-weight: 400;
}

#forgot-pass .content p {
	margin-top: 15px;
	text-align: left;
	color: #333;
	font-size: 14px;
	padding-left: 6px;
}

#sign-up {
	background-color: #fff;
}

#sign-up .nav {
	background-color: #fff;
}

#sign-up .nav a {
	left: 15px;
	top: 15px;
	font-size: 20px;
}

#sign-up .content {
	padding-top: 10px;
}

#sign-up .content input {
	border: none;
	background-color: transparent;
	border-radius: 0;
	height: 38px;
	width: 100%;
	line-height: 38px;
	font-size: 16px;
	font-weight: 300;
	border: none;
	padding-left: 6px;
}

#sign-up .content input:focus {
	outline: none;	
}

#sign-up .content a {
	width: 280px;
	height: 36px;
	display: block;
	background-color: #33cc99;
	color: #fff;
	border: 0;
	text-shadow: none;
	text-align: center;
	margin: 25px 0 0;
	padding-top: 16px;
	font-size: 18px;
	font-weight: 400;
}

#sign-up .content p {
	margin-top: 15px;
	text-align: left;
	color: #999;
	font-size: 14px;
	padding-left: 6px;
}

#email-verif {
	background-color: #fff;
}

#email-verif .nav {
	background-color: #fff;
}

#email-verif .nav a {
	left: 15px;
	top: 15px;
	font-size: 20px;
}

#email-verif .content {
	padding-top: 10px;
}

#email-verif .content input {
	border: none;
	background-color: transparent;
	border-radius: 0;
	height: 44px;
	width: 274px;
	line-height: 38px;
	font-size: 16px;
	font-weight: 300;
	padding-left: 6px;
	border-style: ridge;
	border-width: 1px;
	border-color: #ddd;
	margin-top: 15px;
}

#email-verif .content input:focus {
	outline: none;	
}

#email-verif .content a {
	width: 280px;
	height: 36px;
	display: block;
	background-color: #33cc99;
	color: #fff;
	border: 0;
	text-shadow: none;
	text-align: center;
	margin: 10px 0 0;
	padding-top: 16px;
	font-size: 18px;
	font-weight: 200;
}

#email-verif .content p {
	margin-top: 15px;
	text-align: center;
	color: #999;
	font-size: 14px;
	padding-left: 6px;
}

#email-verif .content p:first-child {
	margin-top: 0;
}

#email-verif .content p:last-child {
	font-size: 13px;
	color: #ccc;
	font-weight: 200;
}

#phone-verify-input {
	background-color: #fff;
}

#phone-verify-input .nav {
	background-color: #fff;
}

#phone-verify-input .nav a {
	left: 15px;
	top: 15px;
	font-size: 20px;
}

#phone-verify-input .content {
	padding-top: 10px;
}

#phone-verify-input .content input {
	border: none;
	background-color: transparent;
	border-radius: 0;
	height: 44px;
	width: 260px;
	line-height: 38px;
	font-size: 16px;
	font-weight: 300;
	padding-left: 20px;
}

#phone-verify-input .content .row {
	border-style: ridge;
	border-width: 1px;
	border-color: #ddd;
	width: 281px;
}

#phone-verify-input .content input:focus {
	outline: none;	
}

#phone-verify-input .content select {
	border: none;
	background: none;
	height: 44px;
	line-height: 44px;
	font-size: 16px;
	width: 270px;
	border: none;
	color: #999;
	margin-left: 10px;
}

#phone-verify-input .content select:focus {
	outline: none;	
}

#phone-verify-input .content a {
	width: 280px;
	height: 36px;
	display: block;
	background-color: #33cc99;
	color: #fff;
	border: 0;
	text-shadow: none;
	text-align: center;
	margin: 10px 0 0;
	padding-top: 16px;
	font-size: 18px;
	font-weight: 400;
}

#phone-verify-input .message {
	width: 270px;
	margin: 0 auto;
}

#phone-verify-input .content p {
	margin-top: 15px;
	text-align: center;
	color: #999;
	font-size: 13px;
	font-weight: 200;
}

#phone-verify-code {
	background-color: #fff;
}

#phone-verify-code .nav {
	background-color: #fff;
}

#phone-verify-code .nav a {
	left: 15px;
	top: 15px;
	font-size: 20px;
}

#phone-verify-code .content {
	padding-top: 10px;
}

#phone-verify-code .content input {
	border: none;
	background-color: transparent;
	border-radius: 0;
	height: 44px;
	width: 274px;
	line-height: 38px;
	font-size: 16px;
	font-weight: 300;
	padding-left: 6px;
	border-style: ridge;
	border-width: 1px;
	border-color: #ddd;
	margin-top: 15px;
}

#phone-verify-code .content input:focus {
	outline: none;	
}

#phone-verify-code .content a {
	width: 280px;
	height: 36px;
	display: block;
	background-color: #33cc99;
	color: #fff;
	border: 0;
	text-shadow: none;
	text-align: center;
	margin: 10px 0 0;
	padding-top: 16px;
	font-size: 18px;
	font-weight: 300;
}

#phone-verify-code .content p {
	margin-top: 15px;
	text-align: center;
	color: #999;
	font-size: 14px;
	padding-left: 6px;
}

#phone-verify-code .content p:first-child {
	margin-top: 0;
	padding: 0;
	text-align: left;
	font-size: 13px;
}

#phone-verify-code .content p:last-child {
	font-size: 13px;
	color: #ccc;
	font-weight: 200;
}

#almost-done {
	background-color: #fff;
}

#almost-done .header h1 {
	text-align: center;
	text-shadow: none;
	color: #33cc99;
	font-weight: 300;
	font-size: 24px;
	margin-top: 30px;
}

#almost-done .profile {
	text-shadow: none;
	text-align: center;
	border-bottom: 1px solid #cfcfcf;
}

#almost-done .profile .photo {
	width: 101px;
	height: 101px;
	background-repeat: no-repeat;
	background-image: url('../images/photo-anon.png');
	background-size: 101px 101px;
	margin:0 auto;
}

#almost-done .profile .name {
	margin: 15px 0 25px;
	padding-top: 10px;
}

#almost-done .profile .name p {
	margin: 5px 0;
}

#almost-done .profile .name p:first-child {
	font-size: 19px;
	color: #333;
}

#almost-done .profile .name p:last-child {
	font-size: 11px;
	color: #999;
}

#almost-done .footer {
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 12px 0;
	background-color: #fff;
}

#almost-done .footer a {
	margin:5px auto;
	color: #999;
	text-shadow: none;
	font-size: 20px;
	font-weight: 200;
}

#almost-done .message {
	margin: 30px auto;
	padding: 0 15px;
	font-size: 15px;
	line-height: 20px;
}

#almost-done .action {
	padding-top: 15px;
}

#almost-done .action a {
	display: block;
	text-shadow: none;
	font-size: 14px;
	height: 30px;
	width: 270px;
	padding-top: 11px;
	text-align: center;
	margin: 10px auto;
	font-weight: 400;
	border-radius: 3px;
	background-color: #3b5988;
	color: #fff;
}	

#almost-done .action p {
	color: #999;
	font-size: 11px;
	text-shadow: none;
	text-align: center;
}

#start-deposit {
	background-color: #fff;
}

#start-deposit p {
	margin: 15px 0;
}

#start-deposit .address {
	text-align: center;
	text-shadow: none;
}

#start-deposit .address p:first-child {
	font-size: 15px;
	color: #a1a1a1;
}

#start-deposit .address p:last-child {
	font-size: 13px;
	color: #adadad;
}
#start-deposit .copy-address a {
	width: 150px;
	height: 30px;
	display: block;
	color: #fff;
	background-color: #1ec68e;
	margin: 0 auto;
	text-shadow: none;
	text-align: center;
	padding-top: 10px;
	font-weight: 200;
}

#start-deposit .qrcode {
	background-image: url('../images/qrcode-big.png');
	background-repeat: no-repeat;
	background-size: 164px 164px;
	background-position: center;
	width: 100%;
	height: 164px;
}

#start-deposit .content .rate {
	text-align: center;
	color: #999;
	text-shadow: none;
	font-size: 13px;
	font-weight: 300;
}

#start-deposit .footer {
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 12px 0;
	background-color: #33cc99;
}

#start-deposit .footer p {
	margin:5px auto;
	color: #fff;
	text-shadow: none;
	font-size: 24px;
	font-weight: 300;
}

/* For history pages */
.history {
	background-color: #fff;
}

.history .nav {
	background-color: #fff;
	border-bottom: 1px solid #cfcfcf;
}

.history .nav h1 {
	font-size: 18px;
	margin: 0;
}

.history .nav a {
	left: 15px;
	top: 15px;
}

.history .content {
	padding-top: 10px;
}

.history .date {
	font-size: 14px;
	color: #333;
	margin: 15px 0;
}

.history .amount {
	font-size: 14px;
	font-weight: 600;
}

.history .content p:nth-child(3) {
	color: #777;
	font-size: 13px;
	margin-top: 30px;
}

.history .content p:nth-child(4) {
	color: #777;
	font-size: 13px;
	margin-top: 20px;
}

#convert-popup {
	text-align: center;
}

#convert-popup p {
	line-height: 20px;
}

#convert-popup .symbol {
	width: 80px;
	height: 80px;
	background-image: url('../images/btc-convert-pop.png');
	background-repeat: no-repeat;
	background-size: 80px 80px;
	margin: 20px auto;
}

#convert-popup .text {

}

#convert-popup .fee {
	margin: 20px 0;
}

#convert-popup .action {

}

#convert-popup .action a {
	display: block;
	width: 210px;
	color: #fff;
	background-color: #33cc99;
	height: 33px;
	font-weight: 300;
	text-shadow: none;
	padding-top: 15px;
	margin: 0 auto;
}

#convert-popup .not-show {
	margin-top: 20px;
}

#convert-popup .ui-checkbox {
	padding-left: 28px;
}

#convert-popup .ui-checkbox label {
	border: 0;
	font-size: 11px;
	padding-left: 33px;
}

#convert-popup .ui-checkbox input {
	left: 35px;
}

#deposit-popup {
	text-align: center;
}

#deposit-popup p {
	line-height: 20px;
}

#deposit-popup .symbol {
	width: 80px;
	height: 109px;
	background-image: url('../images/deposit-popup-img.png');
	background-repeat: no-repeat;
	background-size: 80px 109px;
	margin: 20px auto;
}

#deposit-popup .text {

}

#deposit-popup .action {

}

#deposit-popup .action a {
	display: block;
	width: 210px;
	color: #fff;
	background-color: #33cc99;
	height: 33px;
	font-weight: 300;
	text-shadow: none;
	padding-top: 15px;
	margin: 0 auto;
}

#deposit-popup .not-show {
	margin-top: 20px;
}

#deposit-popup .ui-checkbox {
	padding-left: 28px;
}

#deposit-popup .ui-checkbox label {
	border: 0;
	font-size: 11px;
	padding-left: 33px;
}

#deposit-popup .ui-checkbox input {
	left: 35px;
}

